
/* ======================                 ======================
 * ======================     Iphone4     ======================
   ======================                 ======================*/
@media screen and (min-device-height: 480px) {
    #acceuil_div_reseau,#acceuil_div_actualite,.div_reputation,.div_securite
    {
        margin-top: 1vh;
    }
    .presentation_title
    {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    .presentation_title_2
	{
		font-size: 4vw;
        line-height: 4vw;
	}
    .presentation_desc_2
    {
        font-size: 4vw;
        line-height: 4vw;
    }
    .accueil_header_div_img
    {
        width: 50vw;
        height: 8vh;
    }
    #inscription-top-info-white1
    {
        padding-top: 4vh;
        line-height: 6vh;
        padding-bottom: 3vh;
    }
    .inscription_1_list
    {
    }
    #connexion_ceercomptered
    {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    #inscription_3_top_info
    {
        padding-top: 4vh;
        line-height: 6vh;
        padding-bottom: 2vh;
    }
    .verif_adresse
    {
        padding-top: 1vh;
    }
    #inscription_3_valider
    {
        margin-bottom: 2vh;
    }
    #inscription_4_ceercomptered
    {
        margin-bottom: 3vh;
    }

    .inscription_5_header_img
    {
        margin-top: 4vh;
        height:6vh;
    }
    .inscription_5_separator_white
    {
        margin-left: 10vw;
        margin-top: -2vh;
    }
    .inscription_5_header
    {
        height: 18vh;
        max-height: 18vh;
        min-height: 18vh;
    }
    .inscription_5_hello_login
    {
        font-size: 4vw;
        margin-left: 3vw;
    }
    .inscription_5_power_off
    {
        width: 7vw;
        height: 6vw;
        margin-right: 2vw;
        margin-top: -1.5vw;
    }
    .inscription_5_cadre
    {
        height: 82vh;
     max-height: 82vh;
     min-height: 82vh;
    }
    .tolk_img{
        width: 45vw;
        height: 10vh;
    }

/* ==================================================================
 * ======================     Accueil          ======================
   ==================================================================*/
   .accueil_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }

   #accueil_connexion
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    font-size: 5.2vw;
}
   #accueil_creer_compte
{
    color: black;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: white;
    min-width: 1vw;
    font-size: 3.9vw;
    padding-top: 0.5vh;
    padding-bottom: 0.6vh;
}
.accueil_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}


/* ==================================================================
 * ====================== Fin Accueil          ======================
   ==================================================================*/


/* ==================================================================
 * ======================     Connexion        ======================
   ==================================================================*/

    /* Header */


   .connexion_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .connexion_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .connexion_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5vw;
    color: white;
    margin-top: -4.5vh;
    margin-left: 5.5vw;
    }
    .connexion_chevron
    {
    color: white;
    margin-top: 0.5vh;
    margin-left: 1.5vw;
    }
    /* Article */

    .connexion_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .connexion_article{
    background-color: transparent;
    height: 58vh;
   }
   .connexion_fieldset
   {
    width: 92%;
    height: 100%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }
   .connexion_mdp
   {
    margin-top: 7vh;
   }

   .connexion_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -2vh;
 }
 .connexion_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -0.5vh;
 }
 .connexion_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 3vh;
}
.connexion_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 3vh;
    text-align: center;
   }
.connexion_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: -0.5vh;
    text-align: center;
   }


   /* Footer */
   .connexion_footer{
    background-color: transparent;
    height: 10vh;
   }
   #connexion_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.2vw;
    margin-top: 2.5vh;
    width: 40vw;
}
   #connexion_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.4vw;
    margin-top: 2.5vh;
    width: 40vw;
}
.connexion_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}
/* ==================================================================
 * ======================    Fin Connexion     ======================
   ==================================================================*/
/* ==================================================================
 * ======================     reinitialisermdp        ======================
   ==================================================================*/

    /* Header */


   .motdepasseoublie_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .motdepasseoublie_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .motdepasseoublie_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5vw;
    color: white;
    margin-top: -4.5vh;
    margin-left: 5.5vw;
    }
    .motdepasseoublie_chevron
    {
    color: white;
    margin-top: 0.5vh;
    margin-left: 1.5vw;
    }
    /* Article */

    .motdepasseoublie_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .motdepasseoublie_article{
    background-color: transparent;
    height: 58vh;
   }
   .connexion_fieldset
   {
    width: 92%;
    height: 100%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }

   .motdepasseoublie_mdp
   {
    margin-top: 7vh;
   }

   .motdepasseoublie_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -2vh;
 }
 .motdepasseoublie_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -0.5vh;
 }
 .motdepasseoublie_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 3vh;
}
.motdepasseoublie_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 3vh;
    text-align: center;
   }
.motdepasseoublie_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: -0.5vh;
    text-align: center;
   }

   /* Footer */
   .motdepasseoublie_footer{
    background-color: transparent;
    height: 10vh;
   }
   #motdepasseoublie_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.2vw;
    margin-top: 2.5vh;
    width: 40vw;
}
   #motdepasseoublie_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.4vw;
    margin-top: 2.5vh;
    width: 40vw;
}
.motdepasseoublie_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}
/* ==================================================================
 * ======================    Fin reinitialisermdp     ======================
   ==================================================================*/



/* ======================                 ======================
 * ======================  1ère connexion ======================
   ======================                 ======================*/

    /* Header */


   .firstconnexion1_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .firstconnexion1_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .firstconnexion1_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5vw;
    color: white;
    margin-top: -4.5vh;
    margin-left: 5.5vw;
    }
    .firstconnexion1_chevron
    {
    color: white;
    margin-top: 1vh;
    margin-left: 1.5vw;
    }
    /* Article */

    .firstconnexion1_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .firstconnexion1_article{
    background-color: transparent;
    height: 58vh;
   }
   .firstconnexion1_fieldset
   {
    width: 92%;
    height: 93%;
    margin-top: 7vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }
   .firstconnexion1_1ereconnexion{
    color: white;
    font-family: bentonsansBook;
    font-size: 7vw;
    padding-left: 1vw;
    margin-top: 3vh;
    text-align: center;
   }
   .firstconnexion1_mdp
   {
    margin-top: 6vh;
   }

   .firstconnexion1_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -2vh;
 }
 .firstconnexion1_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -0.5vh;
 }
 .firstconnexion1_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 6vh;
}
.firstconnexion1_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 1.5vh;
    text-align: center;
   }
.firstconnexion1_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: -0.5vh;
    text-align: center;
   }



   /* Footer */
   .firstconnexion1_footer{
    background-color: transparent;
    height: 10vh;
   }
   #firstconnexion1_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.2vw;
    margin-top: -0.5vh;
    width: 40vw;
}
   #firstconnexion1_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.4vw;
    margin-top: -0.5vh;
    width: 40vw;
}
.firstconnexion1_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}





/* ======================                 ======================
 * ======================  1ère connexion 2 ======================
   ======================                 ======================*/


    /* Header */

   .firstconnexion2_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .firstconnexion2_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .firstconnexion2_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.2vh;
    margin-left: 5.5vw;
    }
    .firstconnexion2_chevron
    {
    color: white;
    margin-top: 3.2vh;
    margin-left: 1vw;
    }
    /* Article */

   .firstconnexion2_article{
    background-color: transparent;
    height: 58vh;
   }
   .firstconnexion2_fieldset
   {
    width: 92%;
    height: 98%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-color: transparent;
   }
   .firstconnexion2_acces_profil{
    color: white;
    font-family: bentonsansBold;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: -1vh;
    text-align: center;
   }

   .firstconnexion2_separator_white
 {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .firstconnexion2_mdp_separator_white
 {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .firstconnexion2_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 4vh;
}
   /* Footer */
   .firstconnexion2_footer{
    background-color: transparent;
    height: 10vh;
   }
   #firstconnexion2_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6.5vw;
    margin-left: 1vw;
    margin-top: 1.5vh;
}
   #firstconnexion2_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
}
#firstconnexion2_profil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 2.5vw;
    padding-right: 3vw;
    margin-left: 3vw;
    margin-top: 1.5vh;
}
.firstconnexion2_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
}
.firstconnexion2_profil-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
}

}

/* ======================                 ======================
 * ======================     Iphone5     ======================
   ======================                 ======================*/
@media screen and (min-device-height: 568px) {
    #acceuil_div_reseau,#acceuil_div_actualite,.div_reputation,.div_securite
    {
        margin-top: 4vh;
    }
    .presentation_title
    {
        margin-top: 3vh;
        margin-bottom: 2vh;
    }
    .presentation_title_desc
    {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .presentation_title_2
	{
		font-size: 4vw;
	}
    .presentation_desc_2
    {
        font-size: 3.8vw;
    }
    #inscription-top-info-white1
    {
        padding-top: 4vh;
        line-height: 6vh;
        padding-bottom: 3vh;
    }
    .inscription_1_list
    {
    }
    #connexion_ceercomptered
    {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #inscription_3_top_info
    {
        padding-top: 4vh;
        line-height: 6vh;
        padding-bottom: 2vh;
    }
    .verif_adresse
    {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    #inscription_3_valider
    {
        margin-bottom: 6vh;
    }
    #inscription_4_ceercomptered
    {
        margin-top: 3vh;
        margin-bottom: 4vh;
    }
    .inscription_5_header_img
    {
        margin-top:4vh;
        height:6vh;
    }

    .inscription_5_separator_white
    {
        margin-left: 15vw;
        margin-top: -1vh;
    }
    .inscription_5_header
    {
            height: 16vh;
        max-height: 16vh;
        min-height: 16vh;
    }
    .inscription_5_hello_login
    {
        font-size: 4vw;
        margin-left: 6vw;
    }
    .inscription_5_power_off
    {
        width: 7vw;
        height: 6vw;
        margin-right: 2vw;
        margin-top: 0vw;
    }
    .inscription_5_cadre
    {
        height: 84vh;
     max-height: 84vh;
     min-height: 84vh;
    }
    .tolk_img{
        width: 50vw;
        height: 10vh;
    }
/* ==================================================================
 * ======================     Accueil          ======================
   ==================================================================*/
   .accueil_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
    .accueil_page-bull.selected
    {
    background-color: white;
    }

   #accueil_connexion
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    font-size: 5.2vw;
}
   #accueil_creer_compte
{
    color: black;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: white;
    min-width: 1vw;
    font-size: 3.9vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.accueil_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}


/* ==================================================================
 * ====================== Fin Accueil          ======================
   ==================================================================*/

/* ==================================================================
 * ======================     Connexion        ======================
   ==================================================================*/

    /* Header */


   .connexion_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .connexion_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .connexion_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.8vh;
    margin-left: 5.5vw;
    }
    .connexion_chevron
    {
    color: white;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    }
    /* Article */

    .connexion_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .connexion_article{
    background-color: transparent;
    height: 58vh;
   }
   .connexion_fieldset
   {
    width: 92%;
    height: 100%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }
   .connexion_mdp
   {
    margin-top: 9vh;
   }

   .connexion_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .connexion_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .connexion_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 3vh;
}
.connexion_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 7vh;
    text-align: center;
   }
.connexion_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 0.5vh;
    text-align: center;
   }
   /* Footer */
   .connexion_footer{
    background-color: transparent;
    height: 10vh;
   }
   #connexion_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.2vw;
    margin-top: 2.5vh;
    width: 40vw;
}
   #connexion_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.4vw;
    margin-top: 2.5vh;
    width: 40vw;
}
.connexion_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}


/* ==================================================================
 * ======================    Fin Connexion     ======================
   ==================================================================*/
/* ==================================================================
 * ======================  reinitialisermdp    ======================
   ==================================================================*/

    /* Header */


   .motdepasseoublie_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .motdepasseoublie_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .motdepasseoublie_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.8vh;
    margin-left: 5.5vw;
    }
    .motdepasseoublie_chevron
    {
    color: white;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    }
    /* Article */

    .motdepasseoublie_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .motdepasseoublie_article{
    background-color: transparent;
    height: 58vh;
   }
   .motdepasseoublie_fieldset
   {
    width: 92%;
    height: 100%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }

   .motdepasseoublie_mdp
   {
    margin-top: 9vh;
   }

   .motdepasseoublie_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .motdepasseoublie_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .motdepasseoublie_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 3vh;
}
.motdepasseoublie_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 7vh;
    text-align: center;
   }
.motdepasseoublie_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 0.5vh;
    text-align: center;
   }
   /* Footer */
   .motdepasseoublie_footer{
    background-color: transparent;
    height: 10vh;
   }
   #motdepasseoublie_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.2vw;
    margin-top: 2.5vh;
    width: 40vw;
}
   #motdepasseoublie_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.4vw;
    margin-top: 2.5vh;
    width: 40vw;
}
.motdepasseoublie_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}

/* ==================================================================
 * ======================    Fin reinitialisermdp     ======================
   ==================================================================*/

/* ======================                 ======================
 * ======================  1ère connexion ======================
   ======================                 ======================*/



    /* Header */


   .firstconnexion1_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .firstconnexion1_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .firstconnexion1_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.7vh;
    margin-left: 5.5vw;
    }
    .firstconnexion1_chevron
    {
    color: white;
    margin-top: 2.5vh;
    margin-left: 1.5vw;
    }
    /* Article */

    .firstconnexion1_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .firstconnexion1_article{
    background-color: transparent;
    height: 58vh;
   }
   .firstconnexion1_fieldset
   {
    width: 92%;
    height: 95%;
    margin-top: 8vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }
   .firstconnexion1_1ereconnexion{
    color: white;
    font-family: bentonsansBook;
    font-size: 8vw;
    padding-left: 1vw;
    margin-top: 3vh;
    text-align: center;
   }
   .firstconnexion1_mdp
   {
    margin-top: 7vh;
   }

   .firstconnexion1_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .firstconnexion1_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .firstconnexion1_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 6vh;
}
.firstconnexion1_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 3vh;
    text-align: center;
   }
.firstconnexion1_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 0vh;
    text-align: center;
   }



   /* Footer */
   .firstconnexion1_footer{
    background-color: transparent;
    height: 10vh;
   }
   #firstconnexion1_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.2vw;
    margin-top: -0.5vh;
    width: 40vw;
}
   #firstconnexion1_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.4vw;
    margin-top: -0.5vh;
    width: 40vw;
}
.firstconnexion1_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}


/* ======================                 ======================
 * ======================  1ère connexion 2 ======================
   ======================                 ======================*/



    /* Header */

   .firstconnexion2_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .firstconnexion2_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .firstconnexion2_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.3vh;
    margin-left: 5.5vw;
    }
    .firstconnexion2_chevron
    {
    color: white;
    margin-top: 3vh;
    margin-left: 1vw;
    }
    /* Article */

   .firstconnexion2_article{
    background-color: transparent;
    height: 58vh;
   }
   .firstconnexion2_fieldset
   {
    width: 92%;
    height: 98%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-color: transparent;
   }
   .firstconnexion2_acces_profil{
    color: white;
    font-family: bentonsansBold;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: -1vh;
    text-align: center;
   }
   .firstconnexion2_separator_white
 {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .firstconnexion2_mdp_separator_white
 {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .firstconnexion2_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 4vh;
}
   /* Footer */
   .firstconnexion2_footer{
    background-color: transparent;
    height: 10vh;
   }
   #firstconnexion2_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6.5vw;
    margin-left: 1vw;
    margin-top: 1.5vh;
}
   #firstconnexion2_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
}
#firstconnexion2_profil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 2.5vw;
    padding-right: 3vw;
    margin-left: 3vw;
    margin-top: 1.5vh;
}
.firstconnexion2_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
}
.firstconnexion2_profil-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
    padding-top: 0.5vh;
}


}


/* ======================                 ======================
 * ======================     Iphone6     ======================
   ======================                 ======================*/
@media screen and (min-device-height: 600px) {
    #acceuil_div_reseau,#acceuil_div_actualite,.div_reputation,.div_securite
    {
        margin-top: 5vh;
    }
    .presentation_title_desc
    {
        margin-top: 5.5vh;
        margin-bottom: 5.5vh;
    }
    .presentation_title_2
	{
		font-size: 5vw;
        line-height: 5vw;
	}
    .presentation_desc_2
    {
        font-size: 4vw;
        line-height: 4vw;
    }
    #inscription-top-info-white1
    {
        padding-top: 4vh;
        line-height: 6vh;
        padding-bottom: 4vh;
    }
    .inscription_1_list

    {

    }
    #connexion_ceercomptered
    {
        margin-top: 6vh;
        margin-bottom: 4vh;
    }
    #inscription_3_top_info
    {
        padding-top: 4vh;
        line-height: 6vh;
        padding-bottom: 6vh;

    }
    .verif_adresse
    {
        padding-top: 3vh;
    }
    #inscription_3_valider
    {

        margin-bottom: 6vh;
    }
    #inscription_4_ceercomptered
    {
        margin-top: 3vh;
        margin-bottom: 6vh;
    }
    .inscription_5_header_img
    {
        margin-top:2vh;
        height:6vh;
    }

    .inscription_5_separator_white
    {
        margin-left: 15vw;
        margin-top: -1vh;
    }
    .inscription_5_header
    {
            height: 13vh;
        max-height: 13vh;
        min-height: 13vh;
    }
    .inscription_5_hello_login{
        font-size: 4vw;
        margin-left: 6vw;
    }
    .inscription_5_power_off
    {
        width: 7vw;
        height: 6vw;
        margin-right: 2vw;
        margin-top: 0vw;
    }
    .inscription_5_cadre
    {
        height: 87vh;
     max-height: 87vh;
     min-height: 87vh;
    }
    .tolk_img{
        width: 50vw;
        height: 10vh;
    }
/* ==================================================================
 * ======================     Accueil          ======================
   ==================================================================*/
   .accueil_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }

    .accueil_page-bull.selected
    {
    background-color: white;
    }

   #accueil_connexion
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    font-size: 5.2vw;
}
   #accueil_creer_compte
{
    color: black;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: white;
    min-width: 1vw;
    font-size: 4.1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.accueil_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}


/* ==================================================================
 * ====================== Fin Accueil          ======================
   ==================================================================*/
/* ==================================================================
 * ======================     Connexion        ======================
   ==================================================================*/

    /* Header */

   .connexion_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .connexion_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .connexion_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.3vh;
    margin-left: 5.5vw;
    }
    .connexion_chevron
    {
    color: white;
    margin-top: 3vh;
    margin-left: 1vw;
    }
    /* Article */

    .connexion_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .connexion_article{
    background-color: transparent;
    height: 58vh;
   }
   .connexion_fieldset
   {
    width: 92%;
    height: 99%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }
   .connexion_mdp
   {
    margin-top: 10vh;
   }

   .connexion_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .connexion_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .connexion_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 4vh;
}
.connexion_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 10vh;
    text-align: center;
   }
.connexion_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 1.5vh;
    text-align: center;
   }



   /* Footer */
   .connexion_footer{
    background-color: transparent;
    height: 10vh;
   }
   #connexion_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.8vw;
    margin-top: 2.5vh;
    width: 40vw;
}
   #connexion_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.7vw;
    margin-top: 2.5vh;
    width: 40vw;
}
.connexion_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}
/* ==================================================================
 * ======================    Fin Connexion     ======================
   ==================================================================*/
/* ==================================================================
 * ======================   reinitialisermdp   ======================
   ==================================================================*/

    /* Header */

   .motdepasseoublie_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .motdepasseoublie_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .motdepasseoublie_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.3vh;
    margin-left: 5.5vw;
    }
    .motdepasseoublie_chevron
    {
    color: white;
    margin-top: 3vh;
    margin-left: 1vw;
    }
    /* Article */

    .motdepasseoublie_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .motdepasseoublie_article{
    background-color: transparent;
    height: 58vh;
   }
   .motdepasseoublie_fieldset
   {
    width: 92%;
    height: 99%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }
   .motdepasseoublie_mdp
   {
    margin-top: 10vh;
   }

   .motdepasseoublie_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .motdepasseoublie_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .motdepasseoublie_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 4vh;
}
.motdepasseoublie_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 10vh;
    text-align: center;
   }
.motdepasseoublie_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 1.5vh;
    text-align: center;
   }



   /* Footer */
   .motdepasseoublie_footer{
    background-color: transparent;
    height: 10vh;
   }
   #motdepasseoublie_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.8vw;
    margin-top: 2.5vh;
    width: 40vw;
}
   #motdepasseoublie_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.7vw;
    margin-top: 2.5vh;
    width: 40vw;
}
.motdepasseoublie_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}
/* ==================================================================
 * ====================== Fin reinitialisermdp ======================
   ==================================================================*/


/* ======================                 ======================
 * ======================  1ère connexion ======================
   ======================                 ======================*/





    /* Header */

   .firstconnexion1_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .firstconnexion1_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .firstconnexion1_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.3vh;
    margin-left: 5.5vw;
    }
    .firstconnexion1_chevron
    {
    color: white;
    margin-top: 4vh;
    margin-left: 1vw;
    }
    /* Article */

    .firstconnexion1_codesms
   {
    color: red;
    font-size: 3.8vw;
    text-align: center;
   }
   .firstconnexion1_article
   {
    background-color: transparent;
    height: 58vh;
   }
   .firstconnexion1_fieldset
   {
    width: 92%;
    height: 95%;
    margin-top: 9vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
   }
   .firstconnexion1_1ereconnexion{
    color: white;
    font-family: bentonsansBook;
    font-size: 8vw;
    padding-left: 1vw;
    margin-top: 3vh;
    text-align: center;
   }
   .firstconnexion1_mdp
   {
    margin-top: 8vh;
   }

   .firstconnexion1_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .firstconnexion1_mdp_separator_white
 {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .firstconnexion1_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 7vh;

}
.firstconnexion1_support{
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 4.5vh;
    text-align: center;
   }
.firstconnexion1_tel{
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 0vh;
    text-align: center;
   }



   /* Footer */
   .firstconnexion1_footer{
    background-color: transparent;
    height: 10vh;
   }
   #firstconnexion1_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.8vw;
    margin-top: -0.5vh;
    width: 40vw;
}
   #firstconnexion1_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.7vw;
    margin-top: -0.5vh;
    width: 40vw;
}
.firstconnexion1_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
}


/* ======================                 ======================
 * ======================  1ère connexion 2 ======================
   ======================                 ======================*/



   .firstconnexion2_header{
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
   }
   .firstconnexion2_titre{
    color: white;
    font-family: bentonsansLight;
    font-size: 6.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
   }
   .firstconnexion2_precedent
    {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.3vh;
    margin-left: 5.5vw;
    }
    .firstconnexion2_chevron
    {
    color: white;
    margin-top: 3vh;
    margin-left: 1vw;
    }
    /* Article */

   .firstconnexion2_article{
    background-color: transparent;
    height: 58vh;
   }
   .firstconnexion2_fieldset
   {
    width: 92%;
    height: 98%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-color: transparent;
   }
   .firstconnexion2_acces_profil{
    color: white;
    font-family: bentonsansBold;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: -1vh;
    text-align: center;
   }
   .firstconnexion2_separator_white
 {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
 }
 .firstconnexion2_mdp_separator_white
 {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
 }
 .firstconnexion2_input_text
{
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 4vh;
}
   /* Footer */
   .firstconnexion2_footer{
    background-color: transparent;
    height: 10vh;
   }
   #firstconnexion2_accueil
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6.5vw;
    margin-left: 1vw;
    margin-top: 1.5vh;
}
   #firstconnexion2_valider
{
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
}
.firstconnexion2_valider-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6.5vw;
}
.firstconnexion2_profil-font
{
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6.5vw;
}

}

