/* ======================                 ======================
 * ======================     Iphone4     ======================
   ======================                 ======================*/
@media screen and (min-device-height: 480px) {
  .presentation_title {
    margin-top: 2vh;
    margin-bottom: 1vh;
  }

  .presentation_title_2 {
    font-size: 4vw;
  }

  .presentation_desc_2 {
    font-size: 4vw;
  }

  #inscription-top-info-white1 {
    padding-top: 4vh;
    line-height: 6vh;
    padding-bottom: 3vh;
  }

  .inscription_1_list {
  }

  .inscription_article {
    display: block;
    height: 70vh;
    max-height: 70vh;
    min-height: 70vh;
  }

  .inscription_cadre {
    height: 59vh;
    max-height: 59vh;
    min-height: 59vh;
  }

  .inscription_first_row
  {
    margin-top: 0px;
  }

  .inscription_autocomplete {
    padding-top: 0vh;
  }
  .inscription_element_
  {
    height: 9vh;
  }

  .inscription_1_autocomplete .autocomplete {
    /*margin-top: 2vh;*/
  }

  .inscription_1_info_bottom {
    font-size: 3.3vw;
  }

  .inscription_1_info_bottom_2 {
    font-size: 2.8vw;
  }
  #connexion_ceercomptered {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  #inscription_3_top_info {
    padding-top: 4vh;
    line-height: 6vh;
    padding-bottom: 2vh;
  }

  .verif_adresse {
    padding-top: 1vh;
    padding-bottom: 2vh;
  }

  #inscription_3_valider {
    margin-bottom: 2vh;
  }

  .inscription_3_input_1 {
    margin-top: 5vh;
  }

  .inscription_3_input_2 {
    margin-top: 5vh;
  }

  #inscription_4_ceercomptered {
    margin-bottom: 3vh;
  }

  #inscription_merci {
    margin-top: 6vh;
    font-size: 15vw;
    line-height: 15vw;
  }

  #inscription_fin_top {
    font-size: 4vw;
    line-height: 4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .inscription_fin_p1 {
    font-size: 3.4vw;
    line-height: 4vw;
  }

  .inscription_fin_p2 {
    font-size: 3.4vw;
    line-height: 4vw;
  }

  .inscription_fin_2 {
    margin-top: 4vh;
    font-size: 4vw;
    line-height: 3vh;
    margin-bottom: 6vh;

  }

  #inscription_fin_bottom {
    margin-top: 4vh;
    font-size: 3.8vw;
    line-height: 5vw;
  }

  /* ==================================================================
   * ======================     Accueil          ======================
     ==================================================================*/
  .accueil_footer_button {
    font-size: 5vw;
    line-height: 12vw;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .accueil_header {
    padding-top: 4vh;
  }

  .accueil_article {
    height: 61vh;
  }
  .accueil_bull_position {
    padding-top: 27vh;
    margin-left: 40%
  }


  /* Footer */
  .accueil_footer {
    background-color: transparent;
  }

  #accueil_connexion {
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    font-size: 5.2vw;
  }

  #accueil_creer_compte {
    color: black;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: white;
    min-width: 1vw;
    font-size: 5vw;
    width: 100%;
  }

  .accueil_valider-font {
    font-family: bentonsansextralight !important;
    font-weight: normal;
  }

  /* ==================================================================
   * ====================== Fin Accueil          ======================
     ==================================================================*/
  /* ==================================================================
   * ======================      inscription     ======================
     ==================================================================*/
  /* ==================================================================
   * ======================     Connexion        ======================
     ==================================================================*/
  /* Header */
  .connexion_header {
    background-color: #D94C45;
    height: 30vh;
    padding-top: 5vh;
    margin-top: -4vh;
    margin-left: -4vw;
    margin-right: -4vw;
  }

  /* Article */
  .connexion_article {
    background-color: white;
    height: 67vh;
  }

  #connexion_connectez_vous-top-info-white {
    font-family: bentonsansextralight;
    color: #D94C45;
    font-size: 10vw;
    text-align: center;
    line-height: 16vh;
    vertical-align: middle;
    margin: auto;
  }



  .connexion_list_form {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .connexion_list_form > label {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #D94C45;
    margin: auto;
    text-align: center;
    padding: 5px;
    padding-bottom: 0px;
  }

  .connexion_list_form > label > select {
    font-family: bentonsansextralight;
    margin: auto;
    position: relative;
    font-size: 25px;
    font-weight: normal;
    padding: 0;

  }

  .connexion_list_form > label > select > option {
    font-family: bentonsansextralight;
    margin: auto;
    max-width: 75%;
    font-weight: normal;
  }

  .connexion_input-text_form {
    width: 100%;
    text-align: center;
    display: inline;
  }

  .connexion_clearspace {
    height: 2vh;
  }

  .connexion_first_connexion {
    font-size: 4vw;
    color: #D94C45;
    margin-top: 1vh;
    font-weight: bolder;
    text-align: center;
  }

  #connexion_valider {
    color: #D94C45;
    border-color: #D94C45;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: -3vh;
  }

  .connexion_valider-font {
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
    margin-top: -3vh;
  }

  /* Footer */
  .connexion_footer {
    background-color: white;
    height: 3vh;
    margin-left: -4vw;
    margin-right: -4vw;
    position: bottom;
  }

  .connexion_text_footer {
    font-family: bentonsansBold;
    font-size: 3.5vw;
    color: #D94C45;
    margin-top: 1vh;
    text-align: center;
  }

  /* ==================================================================
   * ======================    Fin Connexion     ======================
     ==================================================================*/
  /* ==================================================================
   * ======================     reinitialisermdp        ======================
     ==================================================================*/
  .motdepasseoublie {
    font-size: 7vw;
    line-height: 7vw;
    padding-left: 1vw;
    margin-top: 5vh;
  }

  .reinitialisermdp_header {
    background-color: #D94C45;
    height: 30vh;
    padding-top: 5vh;
    margin-top: -4vh;
    margin-left: -4vw;
    margin-right: -4vw;
  }

  /* Article */
  .reinitialisermdp_article {
    background-color: white;
    height: 67vh;
  }

  #reinitialisermdp_top-info-white {
    font-family: bentonsansextralight;
    color: #D94C45;
    font-size: 5vw;
    text-align: center;
    line-height: 16vh;
    vertical-align: middle;
    margin: auto;
  }

  .reinitialisermdp_message {
    color: red;
    font-family: bentonsansextralight;
    color: #D94C45;
    font-size: 3vw;
    font-weight: bolder;
    margin-top: -4vh;
  }

  .reinitialisermdp_list_form {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .reinitialisermdp_list_form > label {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #D94C45;
    margin: auto;
    text-align: center;
    padding: 5px;
    padding-bottom: 0px;
  }

  .reinitialisermdp_list_form > label > select {
    font-family: bentonsansextralight;
    margin: auto;
    position: relative;
    font-size: 25px;
    font-weight: normal;
    padding: 0;

  }

  .reinitialisermdp_list_form > label > select > option {
    font-family: bentonsansextralight;
    margin: auto;
    max-width: 75%;
    font-weight: normal;
  }

  .reinitialisermdp_input-text_form {
    width: 100%;
    text-align: center;
    display: inline;
  }

  .reinitialisermdp_clearspace {
    height: 2vh;
  }

  .reinitialisermdp_first_connexion {
    font-size: 4vw;
    color: #D94C45;
    margin-top: 1vh;
    font-weight: bolder;
    text-align: center;
  }

  #reinitialisermdp_valider {
    color: #D94C45;
    border-color: #D94C45;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: -3vh;
  }

  .reinitialisermdp_valider-font {
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
    margin-top: -3vh;
  }

  .reinitialisermdp_mpo {
    font-size: 4vw;
    color: #D94C45;
    margin-top: 1vh;
    font-weight: bolder;
    text-align: center;;
  }

  /* Footer */
  .reinitialisermdp_footer {
    background-color: white;
    height: 3vh;
    margin-left: 1vw;
    margin-right: -4vw;
    position: bottom;
    position: absolute;
  }

  .reinitialisermdp_text_footer {
    font-family: bentonsansBold;
    font-size: 3.5vw;
    color: #D94C45;
    margin-top: 1vh;
    text-align: center;
  }

  /* ==================================================================
   * ======================    Fin reinitialisermdp     ======================
     ==================================================================*/
  /* ======================                 ======================
   * ======================  1ère connexion ======================
     ======================                 ======================*/
  /* Header */
  .firstconnexion1_header {
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
  }

  .firstconnexion1_titre {
    color: white;
    font-family: bentonsansLight;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
  }

  .firstconnexion1_precedent {
    font-family: bentonsansMedium;
    font-size: 5vw;
    color: white;
    margin-top: -4.5vh;
    margin-left: 5.5vw;
  }

  .firstconnexion1_chevron {
    color: white;
    margin-top: 1vh;
    margin-left: 1.5vw;
  }

  /* Article */
  .firstconnexion1_codesms {
    color: red;
    font-size: 3.8vw;
    text-align: center;
  }

  .firstconnexion1_article {
    background-color: transparent;
    height: 58vh;
  }

  .firstconnexion1_fieldset {
    width: 92%;
    height: 93%;
    margin-top: 7vh;
    margin-left: 3.5vw;
    border-top: 0.3vw solid white;
  }

  .firstconnexion1_1ereconnexion {
    color: white;
    font-family: bentonsansBook;
    font-size: 7vw;
    padding-left: 1vw;
    margin-top: 3vh;
    text-align: center;
  }

  .firstconnexion1_mdp {
    margin-top: 6vh;
  }

  .firstconnexion1_separator_white {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -2vh;
  }

  .firstconnexion1_mdp_separator_white {
    border-top: 0.3vw solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -0.5vh;
  }

  .firstconnexion1_input_text {
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 6vh;
  }

  .firstconnexion1_support {
    color: white;
    font-family: bentonsansBook;
    font-size: 5vw;
    padding-left: 1vw;
    margin-top: 1.5vh;
    text-align: center;
  }

  .firstconnexion1_tel {
    color: white;
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: -0.5vh;
    text-align: center;
  }

  /* Footer */
  .firstconnexion1_footer {
    background-color: transparent;
    height: 10vh;
  }

  #firstconnexion1_accueil {
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6vw;
    margin-left: 0.2vw;
    margin-top: -0.5vh;
    width: 40vw;
  }

  #firstconnexion1_valider {
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    font-size: 6vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 1.4vw;
    margin-top: -0.5vh;
    width: 40vw;
  }

  .firstconnexion1_valider-font {
    font-family: bentonsansextralight !important;
    font-weight: normal;
  }

  /* ======================                 ======================
   * ======================  1ère connexion 2 ======================
     ======================                 ======================*/
  /* Header */
  .firstconnexion2_header {
    background-color: transparent;
    height: 23vh;
    padding-top: 4vh;
    padding-left: 3vw;
  }

  .firstconnexion2_titre {
    color: white;
    font-family: bentonsansLight;
    font-size: 6.5vw;
    padding-left: 1vw;
    margin-top: 1vh;
  }

  .firstconnexion2_precedent {
    font-family: bentonsansMedium;
    font-size: 5.5vw;
    color: white;
    margin-top: -3.2vh;
    margin-left: 5.5vw;
  }

  .firstconnexion2_chevron {
    color: white;
    margin-top: 3.2vh;
    margin-left: 1vw;
  }

  /* Article */
  .firstconnexion2_article {
    background-color: transparent;
    height: 58vh;
  }

  .firstconnexion2_fieldset {
    width: 92%;
    height: 98%;
    margin-top: 6vh;
    margin-left: 3.5vw;
    border-color: transparent;
  }

  .firstconnexion2_Bienvenue {
    color: white;
    font-family: bentonsansextralight;
    font-size: 13vw;
    line-height: 13vw;
    padding-top: 10vw;
    text-align: center;
  }

  .firstconnexion2_nom_prenom {
    color: white;
    font-family: bentonsansextralight;
    font-size: 6.5vw;
    margin-top: 10vh;
    text-align: center;
  }

  .firstconnexion2_voila_connecte {
    color: white;
    font-family: bentonsansextralight;
    font-size: 5vw;
    text-align: center;
  }

  .firstconnexion2_acces_profil {
    color: white;
    font-family: bentonsansBold;
    font-size: 6vw;
    padding-left: 1vw;
    margin-top: -1vh;
    text-align: center;
  }
  .firstconnexion2_separator_white {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: -1vh;
  }

  .firstconnexion2_mdp_separator_white {
    border-top: 0.3vh solid white;
    margin-left: 3vw;
    width: 75vw;
    margin-top: 0.5vh;
  }

  .firstconnexion2_input_text {
    width: 100%;
    text-align: center;
    display: inline;
    background-color: inherit;
    margin-top: 4vh;
  }

  .firstconnexion2_support {
    color: white;
    font-family: bentonsansBook;
    font-size: 5.5vw;
    padding-left: 1vw;
    margin-top: 12vh;
    text-align: center;
  }

  .firstconnexion2_tel {
    color: white;
    font-family: bentonsansMedium;
    font-size: 6vw;
    text-align: center;
  }

  /* Footer */
  .firstconnexion2_footer {
    background-color: transparent;
    height: 10vh;
  }

  #firstconnexion2_accueil {
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    font-size: 6.5vw;
    margin-left: 1vw;
    margin-top: 1.5vh;
  }

  #firstconnexion2_valider {
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
  }

  #firstconnexion2_profil {
    color: white;
    border-color: white;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    min-width: 1vw;
    padding-left: 2.5vw;
    padding-right: 3vw;
    margin-left: 3vw;
    margin-top: 1.5vh;
  }

  .firstconnexion2_valider-font {
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
  }

  .firstconnexion2_profil-font {
    font-family: bentonsansextralight !important;
    font-weight: normal;
    font-size: 6vw;
  }

  /* ======================                  ======================
   * ======================   menu general   ======================
     ======================                  ======================*/
  .menu_general_header {
    padding-top: 2vh;
  }

  .menu_general_img_toggle {
    margin-top: 3vh;
    float: left;
    color: white;
  }

  .menu_general_tolk_img {
    width: 30vw;
    margin-top: 1.5vh;
    float: left;
    margin-left: 4vw;
  }

  .menu_general_docteur {
    font-family: bentonsansMedium;
    color: white;
    margin-top: 2.5vh;
    float: right;
  }

  /* Article */
  .menu_general_article {
    height: 82vh;
  }

  .menu_general_vous {
    width: 44vw;
    height: 44vw;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;
  }

  .menu_general_profil {
    margin-top: 3vh;
  }

  .menu_general_text_vous {
    font-family: bentonsansextralight;
    font-size: 5vw;
    margin-top: 2.5vh;
  }

  .menu_general_correspondants {
    width: 44vw;
    height: 44vw;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;

  }

  .menu_general_share {
    margin-top: 2.8vh;
  }

  .menu_general_text_correspondants {
    font-family: bentonsansextralight;
    font-size: 5vw;
    margin-top: 2vh;
  }

  .menu_general_clearspace {
    height: 5vh;
  }

  .menu_general_actualite {
    width: 44vw;
    height: 44vw;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;
  }

  .menu_general_actlt {
    margin-top: 2.8vh;
  }

  .menu_general_text_actualite {
    font-family: bentonsansextralight;
    font-size: 5vw;
    margin-top: 1.5vh;
    line-height: 4vh;
  }

  .menu_general_web {
    width: 44vw;
    height: 44vw;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;

  }

  .menu_general_wb {
    margin-top: 2.8vh;
  }

  .menu_general_text_web {
    font-family: bentonsansextralight;
    font-size: 5vw;
    margin-top: 1.5vh;
    line-height: 3.5vh;
  }

  /* ======================                        ======================
   * ======================   Mes correspondants   ======================
     ======================                        ======================*/
  /* Background 
  .image_mescorrespondants {
    position: fixed;
    margin: -60%;
    top: 25%;
    left: 10%;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 120%;

    width: 170%;
    height: 240%;
    -webkit-filter: brightness(88%) blur(24px);
    -moz-filter: brightness(88%) blur(24px);
    -o-filter: brightness(88%) blur(24px);
    -ms-filter: brightness(88%) blur(24px);
    filter: brightness(88%) blur(24px);
  }*/

  /* Header */
  .mescorrespondants_header {
    background-color: transparent;
    height: 23vh;
    padding-top: 3vh;
    padding-left: 3vw;
  }

  .mescorrespondants_img_toggle {
    width: 3vh;
    margin-top: 3.5vh;
    margin-left: -3vw;
    float: left;
  }

  .mescorrespondants_tolk_img {
    width: 30vw;
    margin-top: 1.5vh;
    float: left;
    margin-left: 4vw;
  }

  .mescorrespondants_docteur {
    font-family: bentonsansMedium;
    color: white;
    margin-top: 4.5vh;
    float: right;
    margin-right: 10vw;
  }

  .mescorrespondants_profil_img {
    margin-left: 83vw;
    margin-top: -9vh;
    border-radius: 5vw;
  }

  .mescorrespondants_bull {
    width: 10vw;
    height: 5.5vh;
    border: 2px solid white;
    background-color: white;;
    border-radius: 40px;
    float: right;
    margin-right: -51vw;
    margin-top: 3vh;
  }

  .icon_mescorrespondants {
    float: right;
    margin-top: -3.5vh;
    margin-right: 0.3vw;
  }

  /* Article */
  .mescorrespondants_article {
    height: 82vh;
  }

  .correspondant_article {
    height: 73vh;
  }

  .mescorrespondants_vous {
    width: 44vw;
    height: 24vh;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;
  }

  .mescorrespondants_profil {
    margin-top: 2vh;
  }

  .mescorrespondants_text_vous {
    font-family: bentonsansextralight;
    font-size: 8vw;
    margin-top: 2.5vh;
  }

  .mescorrespondants_correspondants {
    width: 44vw;
    height: 24vh;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;

  }

  .mescorrespondants_share {
    margin-top: 2.8vh;
  }

  .mescorrespondants_text_correspondants {
    font-family: bentonsansextralight;
    font-size: 5.2vw;
    margin-top: 2vh;
  }

  .mescorrespondants_clearspace {
    height: 5vh;
  }

  .mescorrespondants_actualite {
    width: 44vw;
    height: 24vh;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;
  }

  .mescorrespondants_actlt {
    margin-top: 2.8vh;
  }

  .mescorrespondants_text_actualite {
    font-family: bentonsansextralight;
    font-size: 7vw;
    margin-top: 2vh;
    line-height: 3.5vh;
  }

  .mescorrespondants_web {
    width: 44vw;
    height: 24vh;
    border: 2px solid white;
    background-color: white;;
    border-radius: 22vw;

  }

  .mescorrespondants_wb {
    margin-top: 2.8vh;
  }

  .mescorrespondants_text_web {
    font-family: bentonsansextralight;
    font-size: 7vw;
    margin-top: 2vh;
    line-height: 3.5vh;
  }

  .message_nomessage {
    height: 70vh;
    line-height: 20vw;
  }
}
