<ion-view view-title="Inscription Etape5">

    <div class=" bar-header menu_general_header" style="background-color: #000;padding-bottom:2%;">
        <div style="vertical-align:middle; text-align: center;">
            <div style="vertical-align:top;width:10%;display:inline-block" ui-sref="menu_general"><i class="fa ion-navicon-round fa-2x" style="color:white;"></i></div>
            <!-- <span style="margin-left:20%; margin-right:20%"><img src="img/logo_tolk_v2.png" width="40%"></span> -->
            <div style="display:inline-block;width:75%"><img src="img/logo_tolk_v2.png" width="40%" alt="img/logo_tolk_v2.png"></div>
            <div style="vertical-align:top;width:10%;display:inline-block"><i class="fa ion-gear-b fa-2x" style="color:white;"></i></div>
        </div>
    </div>
    <div  class=" bar-header menu_general_header" style="background-color: white ;padding-bottom:2%;" align="center" >
        <b>Actualit&eacute;s</b><br><br>
    </div>
    <ion-content padding="true" class="has-subheader" ng-controller="actualiteController" delegate-handle="content" data-ng-init="init()">
        <div align="center">
            <br/>
            <!-- EXPERTISE -->
            <div style="background-color: #fff; margin: 2%; padding: 2%;" align="left" scroll="false">
                <textarea name="tex" style="border: 1px solid #AAA; border-radius: 5px;width: 100%" placeholder="your message..." ng-model="params.msg"></textarea>
                <div align="right">
                    <button class="button button-small button-light" ng-click="postuler()" >
                         Publier
                    </button>
                </div>
            </div>

                <div class="list"  style="background-color: #fff; margin: 2%; padding: 2%;" align="left" scroll="true">
                     <div ng-repeat ="act in actualites" >


                        <a class="item item-thumbnail-left" ng-href="#">  <!--ng-href="#/item/{{ item.slug }}">-->
                            <img id="imgP" data-ng-src="{{formData.imageProfile}}" style="border-radius: 50%; border: 5px solid #AAA;" height="120px" width="120px" >
                            <h2>{{act.nom}} {{act.prenom}} </h2><div style="font-size: 8px;">il y'a 1 min</div>
                            <p>{{ act.message }}</p>
                        </a>
                            <div class="item tabs tabs-secondary tabs-icon-left">
                                <a class="tab-item" href="#/tab/list/{{item.shortname}}">
                                    <i class="icon ion-chatbox"></i>
                                    Comment
                                </a>
                                <a class="tab-item" href="#">
                                    <i class="icon ion-share"></i>
                                    Share
                                </a>
                            </div>
                         <br/>
                     </div>
                </div>

            </div>

    </ion-content>
</ion-view>