<ion-view view-title="messageCreation">
  <ion-content class="padding" style="overflow:hidden" has-bouncing="false" ng-controller="ajoutercorrespondantCtrl">
    <div class="image_menu_general"></div>

    <header class="menu_general_header">
      <!-- <span><i class="fa ion-navicon-round fa-2x menu_general_img_toggle"></i></span> -->
     <span><img src="img/logo_tolk_v2.png" class="menu_general_tolk_img"></span>
   <span class="menu_general_docteur"><span>{{doctauth.civilite + ' ' +doctauth.prenom+ ' '+ doctauth.nom}}</span><span
     class="menu_general_profil_bull"><i class="fa fa-user-md fa-2x menu_general_profil_img"></i></span></span>

     <div class="clearboth"></div>
   </header>

   <article class="correspondant_article" style="background-color: white;">
    	<div class="list">

    	   <div class="bar row row-center mescorrespondants_bar" style="width:inherit;">
	
    	      <div class="col col-25 col-bar">
    	          <button ng-click="goBack()" class="button button-clear button-dark mescorrespondants_bar_button">
    	              <i class="ion-chevron-left"></i>
    	              <span style="font-weight:800;">Retour</span>
    	          </button>
    	      </div>
	
    	      <div class="col col-65 col-bar mescorrespondants_titre">
    	          <span class="">Ajouter correspondant</span>
    	      </div>
	
    	      <div class="col col-20 col-bar"></div>
    	      <div class="clearboth"></div>
	
    	    </div>
	
 	
    	    <div>
    	      	<div class="row  row_element_4 row-center">
    	      		<div class="col col_inscription">
    	        		<label class="item item-input item-stacked-label">
    	        			<span class="input-label">Email</span>
    	          			<input type="text" name="text" ng-change="validValue()" ng-model="email" placeholder="adresse email" >
    	        		</label>
    	      		</div>
    	  		</div>
    	  		<center class="assertive" ng-show="emailError">Email est invalide</center>
    	  	</div>

      	</div>
    </article>

    <footer class="inscription_footer">
      <div class="row message_footer_row">
        <div class="col message_footer_button_left">
          <button class="inscription_footer_button button-light" ng-click="envoyerMessage()">
            Ajouter
          </button>
        </div>

      </div>
    </footer>

  </ion-content>
</ion-view>


