<ion-view view-title="Menu general">
      <ion-content class="padding" id="page_red" ng-controller="bientot_disponibleCtrl">


<!--       header avec logo      -->
      
          <center><img src="img/logo TOLK me - blanc - fond transparent.svg" style="width:30vw;margin-top:1vh;"></center><br>
          <p class="hello_login_bientot_dispo"><button class="profil_img_bientot_dispo"></button>&nbsp;&nbsp;Bonjour <strong ng-controller="menu_generalCtrl" ng-click="menu_general()"> {{doctauth.nom}} &nbsp;&nbsp;{{doctauth.prenom}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button ng-controller="accueilCtrl" ng-click="accueil()" class="power_off_bientot_dispo"></button></p>

          <div class="separator_white_bientot_dispo"></div>
          <div class="clearspace"></div>
       
          <a href="#/menu_general"><img src="img/Troistirets.png" class="toggle-img-bientot-dispo"></a>
<!--       inscription header       -->
      <p id="bientot-disponible-red">
           Bientôt <br> disponible
  
      <p class="bientot-text"><b>Pour être inform&eacute; du lancement du service<br><< mes actualit&eacute;s & publications >>,<br> activez les notifications.</b></p> 

      <center class="center-content">
          <button ng-disabled="buttonValiderDisabled"  class="activer-notif" ng-click="inscription5()">
                          <b>Activer les notifications</b>
          </button>
      </center>

      <div class="clearspace"></div>
      <div class="clearspace"></div>
<!--       last li</div>ne separator      -->        
      

        
      </ion-content>
    </ion-view>