<ion-view view-title="Connexion">
      <ion-content class="padding" style="overflow:hidden" ng-controller="connexionCtrl" has-bouncing="false">

    <header class="inscription_header">
            <div class="inscription_header_div_img"><img src="img/logo_tolk_v2.png"></div>
            <div class="inscription_titre">R&eacute;seau professionnel de sant&eacute;</div>
    </header>

    <article class="inscription_article">
      <button ng-click="goBack()" class="button button-clear button-light inscription_button_back"><i class="inscription_flesh_left fa-angle-left"></i> &nbsp;Précédent</button>

        <div class="inscription_cadre">

          <div class="row row_element_6_demi">
            <div class="col col_inscription">
              <center>
                <p class="cadre_title">
                  Connexion
                </p>
              </center>
            </div>
          </div>

          <div class="row row_element_6_demi">
            <div class="col col_inscription" style="padding: 0;">
              <p class="inscription_1_info_bottom">
                <span class="connexion_message" style="display:block; margin: auto; text-align: center;"> &nbsp;{{msg}} </span>
              </p>
            </div>
          </div>

          <div class="row row_element_6">
            <div class="col col_inscription">
              <label class="connexion_label"><!-- connexion_label -->
                <input type="text" name="tel" ng-change="textchanged()" ng-model="params.tel" class="inscription_3_input" placeholder="Numéro de téléphone"/>
              </label>
            </div>
          </div>

          <div class="row row_element_6 row-center">
            <div class="col col_inscription">
              <label class="connexion_label"><!-- connexion_label -->
                <input type="password" name="mdp" ng-change="textchanged()" ng-model="params.mdp" class="inscription_3_input" placeholder="Mot de passe"/>
              </label>
            </div>
          </div>

            <div class="row row_element_6 row-center">
                <div class="col col_inscription">
                    <label class="connexion_label">
                        <input type="checkbox" name="rememberPwd" ng-model="params.rememberPwd" class="checkbox_RememberPwd" />
                        Retenir le mot de passe ?
                    </label>
                </div>
            </div>

          <div class="row row_element_6_demi row-center">
            <div class="col col_inscription">
              <p class="inscription_1_info_bottom_2">
                Mot de passe par SMS si c'est votre 1ére connexion
              </p>
            </div>
          </div>

          <div class="row row_element_6 row-center">
            <div class="col col_inscription">
              <p ng-click="reinitialisermdp()" class="connexion_mpo" style="cursor: pointer" ><u>Mot de passe ou identifiant oublié</u></p>
            </div>
          </div>

          <div class="row row_element_6">
            <div class="col col_inscription" style="padding: 0;">
              <p class="inscription_1_info_bottom">
                <br/><div align="center" style=" color: black; "><u>support@me.com</u> - <b id="phonenumber">01 85 08 92 69</b></div>
              </p>
            </div>
          </div>
          
        </div>
    </article>

    <footer class="inscription_footer">
        <div class="row inscription_footer_row">
            <div class="col inscription_footer_button_left">
                <button class="inscription_footer_button button-light" ng-click="accueil()">
                    Accueil
                </button>
            </div>
            <div class="col inscription_footer_button_right">
                <button ng-disabled="buttonValiderDisabled" class="inscription_footer_button button-light" ng-click="seconnecter()">
                  Se connecter
                </button>
          <!-- id="connexion_ceercomptered" -->
            </div>
        </div>
    </footer>




    </ion-content>
</ion-view>





