<ion-view view-title="first_connexion_1">
<ion-content class="padding" style:"overflow:hidden" ng-controller="first_connexion_1Ctrl" has-bouncing="false">

<header class="inscription_header" >
  <div class="inscription_header_div_img"><img src="img/logo_tolk_v2.png"></div>
  <div class="inscription_titre">R&eacute;seau professionnel de sant&eacute;</div>
</header>


<article class="inscription_article" >
  <button ng-click="goBack()" class="button button-clear button-light inscription_button_back"><i
    class="inscription_flesh_left fa-angle-left"></i> &nbsp;Précédent
  </button>

  <div class="inscription_cadre ">

    <div class="row row_element_5">
        <center class="col col_inscription">
            <p class="cadre_title" >
                1&egrave;re connexion
            </p>
        </center>
    </div>

    <div class="row  row_element_5 row-center" >
      <div class="col col_inscription">
        <label class="inscription_4_label">
        <input type="password" ng-model="mdp1" ng-change="identiques()" placeholder="Choisissez un mot de passe"
        class="inscription_3_input "/>
        </label>
      </div>
    </div>


    <div class="row  row_element_5 row-center">
      <div class="col col_inscription">
        <label class="inscription_4_label">
        <input type="password" ng-model="mdp2" ng-change="identiques()" placeholder="Confirmez votre mot de passe"
        class="inscription_3_input"/>
        </label>
      </div>
    </div>

    <div class="row row_element_5 row-center" >
      <div class="col col_inscription">
        <center style="color: red">{{ message2 }}</center>
      </div>
    </div>

    <div class="row row_element_5 ">
      <div class="col col_inscription">
        <p id="inscription_1_info_bottom">
          <br/><u>support@me.com</u> - <b id="phonenumber">01 85 08 92 69</b>
        </p>
      </div>
    </div>
  </div>

</article>

<footer class="inscription_footer">
        <div class="row inscription_footer_row">
            <div class="col inscription_footer_button_left">
                <button class="inscription_footer_button button-light" ng-click="accueil()">
                    Accueil
                </button>
            </div>
            <div class="col inscription_footer_button_right">
                <button ng-disabled="buttonValiderDisabled" class="inscription_footer_button button-light" ng-click="btnUpdatePasswordPressed()()">
                  Valider
                </button>
          <!-- id="connexion_ceercomptered" -->
            </div>
        </div>
    </footer>


</ion-content>
</ion-view>
