<ion-view view-title="first_connexion_1">
      <ion-content class="padding" style:"overflow:hidden"  ng-controller="first_connexion_1Ctrl" has-bouncing="false">
      <div class="image_menu_general"></div>

<!--       header avec logo      -->
    <header class="firstconnexion1_header">
        <div><img src="img/logo_tolk_v2.png" class="tolk_img"></div>
        <div class="firstconnexion1_titre">R&eacute;seau professionnel de sant&eacute;</div>
        <i class="fa fa-angle-left fa-2x firstconnexion1_chevron"></i> 
        <div class="firstconnexion1_precedent">Pr&eacute;c&eacute;dent</div>
        <div></div>
    </header>
       


    <article class="firstconnexion1_article">
        <fieldset class="firstconnexion1_fieldset">

          <div class="firstconnexion1_1ereconnexion">1&egrave;re connexion</div>
   
          <div class="firstconnexion1_mdp">
      
              <input type="password" ng-model="mdp_sms" ng-change="notEmpty()" placeholder="Code reçu par SMS" class="firstconnexion1_input_text" /><p class="firstconnexion1_codesms">{{message}}</p>
           

              <div class="firstconnexion1_separator_white"></div>

           
              <input type="password" ng-model="mdp1" placeholder="Choisissez un mot de passe" class="firstconnexion1_input_text"/>
          

              <div class="firstconnexion1_mdp_separator_white"></div>

          
              <input type="password" ng-model="mdp2" ng-change="identiques()" placeholder="Confirmez votre mot de passe" class="firstconnexion1_input_text"/>
        
            <div class="firstconnexion1_mdp_separator_white"></div>
             <div class="clearspace"></div>
             <p class="firstconnexion1_codesms">{{message2}}</p>
         </div>

            <div class="firstconnexion1_support"><u>support@me.com</u></div>
            <div class="firstconnexion1_tel">01 85 08 92 69 </div>
        </fieldset>  
    </article>

    <footer class="firstconnexion1_footer">
        <div class="row">
            <div class="col">
          <button id="firstconnexion1_accueil" class="button-light firstconnexion1_valider-font" ng-click="accueil()">
            Accueil
          </button>
      </div>
      <div class="col">
          <button id="firstconnexion1_valider" class="button-light firstconnexion1_valider-font" ng-click="to_first_connexion_2()">
            Valider
          </button>
      </div>
        </div>
    </footer>
                            



        
      </ion-content>
    </ion-view>