<ion-view view-title="Inscription Etape4">
    <ion-content class="screen" height="100%" ng-controller="inscription4Ctrl"  has-bouncing="false">
<!--       header avec logo      -->
        <header class="inscription_header">
            <div class="inscription_header_div_img"><img src="img/logo_tolk_v2.png"></div>
            <div class="inscription_titre">R&eacute;seau professionnel de sant&eacute;</div>
        </header>

        <article class="inscription_article">
          <div class="row">
              <div ng-click="accueil()" class="col col-20 col-offset-80">
                <div class="button-home">
                    <i class="icon fa fa-3x inverse ion-home"></i>
                </div>
                
              </div>
          </div>
          <center id="inscription_merci">MERCI</center>
          <center id="inscription_professeur">{{dr.civilite + " " + dr.prenom + " " + dr.nom}}</center>
          <p id="inscription_fin_top">{{message_de_confirmation}} <i ng-click="inscriptionenligne()" ng-show="showRefresh" class="icon fa-1-5x inverse ion-refresh"></i></p>
          <p class="inscription_fin_p1" style="color: #fff">Pour nous assurer que l'ensemble des membres du réseau sont bien des professionnels de santé, la création de votre compte est soumise à validation.</p>
          <p class="inscription_fin_p2" style="color: #fff">Vous recevez d'ici un SMS avec votre code de connexion. Si vous ne le recevez pas d'ici quelques jours, contactez nous.</p>

          <center id="inscription_fin_bottom">
            <br /><u>support@me.com</u>
            <br /><b id="phonenumber">01 85 08 92 69</b>
          </center>
        </article>

    </ion-content>
</ion-view>
