<ion-view view-title="Inscription Etape3">
  <ion-content class="screen" height="100%" ng-controller="inscription3Ctrl" has-bouncing="false"  overflow-scroll="true">

    <!--       header avec logo      -->
    <header class="inscription_header">
      <div class="inscription_header_div_img row"><img src="img/logo_tolk_v2.png"></div>
      <div class="inscription_titre row">R&eacute;seau professionnel de sant&eacute;</div>
    </header>

    <article class="inscription_article">
      <a ng-click="goBack()" class="button button-clear button-light inscription-button-back">&lt;&nbsp;précédent</a>

      <div class="inscription_cadre">

        <div class="row row_element_4 row-center">
          <div class="col col_inscription">
            <label class="inscription_4_label">
              <input type="text" name="tel" ng-change="validValue()" ng-model="dr.tel" ng-focus="focusOntel()"
                     class="inscription_3_input" placeholder="Votre numéro de mobile"/>
            </label>

          </div>
        </div>

        <div class="row  row_element_4 row-center">
          <div class="col col_inscription">

              <center>
                <p ng-click="openPopover($event)" class="inscription_4_pourquoi">
                  &gt; &nbsp;Pourquoi avons nous besoin de<br/>&nbsp;&nbsp; votre numéro de téléphone mobile&nbsp;?
                </p>
              </center>


          </div>
        </div>

        <div class="row  row_element_4 row-center">
          <div class="col col_inscription">

            <label class="inscription_4_label">
              <input type="email" name="email" ng-change="validValue()" ng-model="dr.email" ng-focus="focusOnemail()"
                     class="inscription_3_input" placeholder="Votre adresse email"/>
            </label>

            <center class="assertive" ng-show="emailError">Email est invalide</center>
          </div>
        </div>

        <div class="row  row_element_4 row-center">
          <div class="col col_inscription">
            <center>
              <p><input ng-change="validValue()" ng-model="checkbox" type="checkbox"><span
              class="inscription_4_checkbox_confirmation">&nbsp;J'accepte les Conditions Générales d'Utilisation</span></input></p>
              <p class="inscription_1_info_bottom">{{message_de_verification}}</p>
            </center>
          </div>
        </div>

      </div>

    </article>

    <footer class="inscription_footer">
      <div class="row inscription_footer_row">
        <div class="col inscription_footer_button_left">
          <button class="inscription_footer_button button-light" ng-click="accueil()">
            Accueil
          </button>
        </div>
        <div class="col inscription_footer_button_right">
          <button ng-disabled="buttonValiderDisabled" class="inscription_footer_button button-light"
                  ng-click="inscription4()">
            Valider
          </button>
          <!-- id="connexion_ceercomptered" -->
        </div>
      </div>
    </footer>
  </ion-content>
</ion-view>
