<div class="page" id="page_red">
<!--       header avec logo      -->
        <div>
          <img src="img/header_logo_red.png">
          <div class="separator_white"  style="margin-top:-10px;"></div>
          
        </div>



<!--       inscription header       -->

        <div class="div_promo_title item_custom promo_titre">
          <p align="center">
            La création du compte<br>est totalement gratuite<br>et sans aucun engagement
          </p>
          <div style="clear:both;"></div>
        </div>

<!--       presentation contenu       -->

        <div class="div_titleDesc container item_custom">
          <p class="titleDesc">
            <span class="titleDesc_title" >Votre compte gratuit</span><br />
            <span class="titleDesc_desc"  >invitez, sugérez, recherchez selon vos besoins</span>
          </p>
        </div>

<!--        list specialités       -->

        <div class="div_titleDesc container item_custom">
          <p class="titleDesc">
            <span class="titleDesc_title" >Restez en contact avec vos correspondants</span><br />
            <span class="titleDesc_desc" >informations pratiques, cas cliniques, actualité</span>
          </p>
        </div>

<!--        list specialités       -->

        <div class="div_titleDesc container item_custom">
          <p class="titleDesc">
            <span class="titleDesc_title" >Adressez vos patients à vos correspondants</span><br />
            <span class="titleDesc_desc" >adressez vos patients par SMS ou email<br/> informez vos correspondants</span>
          </p>
        </div>

        <div>
          <center>
            <div style="width:54px; height:20px;">
              <div class="pres_page-bull selected"></div><div class="pres_page-bull" ng-controller="presentation2Ctrl" ng-click="presentation2()"></div> <div class="pres_page-bull"></div><div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
          </center>
          <div style="clear:both;"></div>
          <div class="clearspace"></div>
        </div>
        <div>
        	<center>
  			<span>
  				<button  class="pres_button"  ng-controller="inscription1Ctrl" ng-click="inscription1()">
            		Créer votre compte
          		</button>
          	</span>
  			<span>
  				<button class="pres_button">
            		Connectez vous
          		</button>
  			</span>
  			</center>
		</div>
		
		<div class="clearspace"></div>
		<div class="separator_white"></div>
<!--      navigation bull        -->
        <footer>
        	<div id="footer" class="div_titleDesc container item_custom">
          		<p class="titleDesc align-right">
            		<span class="titleDesc_desc_footer" >Et même si le risque zéro n'existe pas</span><br />
            		<span class="titleDesc_title_footer" >la sécurité de vos données est une priorité</span>
          		</p>
        	</div>
        </footer>
<!--       last line separator      -->        
        
        
</div>