<ion-view view-title="Reinitialisation du mot de passe">
      <ion-content class="padding" style:"overflow:hidden"  ng-controller="reinitialisermdpCtrl" has-bouncing="false">
      <!-- <div class="image_home_v2"><img src="img/backgroundv3.png"></div> -->
      <!-- <div class="image_home_v2"></div> -->
      <div class="image_menu_general"></div>

    <header class="inscription_header">
            <div class="inscription_header_div_img"><img src="img/logo_tolk_v2.png"></div>
            <div class="inscription_titre">R&eacute;seau professionnel de sant&eacute;</div>
    </header>
       
    <article class="inscription_article">
        <button ng-click="goBack()" class="button button-clear button-light inscription_button_back"><i class="inscription_flesh_left fa-angle-left"></i> &nbsp;Précédent</button>

        <div class="inscription_cadre">

            <div class="row row_element_5">
                <center class="col col_inscription">
                    <p class="cadre_title" >
                      Mot de passe oublié
                    </p>
                </center>
            </div>

            <div class="row row_element_5">
                <center class="col col_inscription">
                    <p class="connexion_message"> {{msg}} </p>
                    <p class="mdp_message_email_sent"> {{msg_email_sent}} </p>
                </center>
            </div>

            <div class="row row_element_5">
                <div class="col col_inscription">
                    <label class="inscription_4_label">
                        <input type="email" name="email" ng-change="validValue()" ng-model="email" class="inscription_3_input inscription_3_input_2" placeholder="Votre adresse email"/>
                    </label>
                </div>
            </div>

            <div class="row row_element_5">
                <div class="col col_inscription">
                    <center class="assertive" ng-show="emailError">Email est invalide</center>
                </div>
            </div>


            <div class="row row_element_5"><div class="col col_inscription" style="padding: 0;">
               <p class="inscription_1_info_bottom">
                 <br /><u>support@me.com</u> - <b id="phonenumber">01 85 08 92 69</b>
             </p>
            </div></div>

        </div>  
    </article>

                            
    <footer class="inscription_footer">
        <div class="row inscription_footer_row">
            <div class="col inscription_footer_button_left">
                <button class="inscription_footer_button button-light" ng-click="accueil()">
                    Accueil
                </button>
            </div>
            <div class="col inscription_footer_button_right">
                <button ng-disabled="buttonValiderDisabled" class="inscription_footer_button button-light" ng-click="validationreinitialisermdp()">
                  Valider
                </button>
          <!-- id="connexion_ceercomptered" -->
            </div>
        </div>
    </footer>  


        
    </ion-content>
</ion-view>